body{
   font-family: 'Roboto', sans-serif;
}
.hero{
    background: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding:0 100px 100px 100px;
    
}

.hero button{
    background-color: #3882f6;
    border-radius: 5px;
    border: 1px solid #3882f6;
    cursor: pointer;
    color: #fff;
    padding: 5px 15px;
}

#logo{
font-size: 28px;
color: #f9faf8;
}

.left-side .right-side{
    width:50%
}

.left-side h3{
font-size: 48px;
font-weight: bolder;
color: #f9faf8;
}

.hero ul,a{
    text-decoration: none;
    color: #e5e7eb;
    list-style: none;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
nav ul{
    display: flex;
}

nav > ul > li{
    margin:10px;
}

#main{
    display: flex;
    justify-content: space-between;
}
h3.center
{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
}
.center p
{
    text-align: center;
}

#columns{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.column{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}
.sub-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#testmonial{
    background-color: #e5e7eb;
    padding: 100px;
}

#testmonial p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

#sub-test{
    display: flex;
    justify-content: space-between;
}
#cta{
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cta button{
    color: #fff;
    background-color:#3882f6 ;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

footer{
    background: #1f2937;
    color: #fff;
   justify-content: center;
   align-content: center;
    display: flex;
    padding: 50px;

}